<!DOCTYPE html>
<html>
  <head>
      <title>Agnibho Roy</title>
      <link rel="stylesheet" href="assets/css/main.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Hey! I'm Srujay Korlakunta. I'm an EECS and Business major at UC Berkeley, interested in product development, data science, and CS education.">
  </head>
  <body>
    <div class="main-container home-container">
      <section class="home-title">
        <div class="home-header">
          <h1 class="title-name"><a href="#">Agnibho Roy</a></h1>
          <div class="title-links">
            <ul>
              <li><a class="active" href="#">Home</a></li>
              <li><a class="" href="experience/index.html">About</a></li>
              <li><a class="" href="teaching/index.html">Teaching</a></li>
            </ul>
        </div>
        </div>
      </section>

      <section class="home-about marginBot-xxl marginTop-xl">
        <div class="prof-img">
          <img src="assets/img/prof.jpg" alt="">
          <section class="social-media-container marginTopBot-lg">
            <ul>
              <li><a target="_blank" href="mailto:agnibhoroy@berkeley.edu"><img src="assets/img/gmail-logo.png" alt=""></a></li>
              <li><a target="_blank" href="http://linkedin.com/in/roy"><img src="assets/img/linkedin-logo.jpeg" alt=""></a></li>
              <li><a target="_blank" href="https://www.github.com/agnibhoroy"><img src="assets/img/github-logo.png" alt=""></a></li>
             </ul>
          </section>
        </div>

        <div class="about-text-container">
          <p class="about-text">
              Hello! I'm <strong>Agnibho Roy</strong>, a second-year undergraduate student studying EECS and Business at UC Berkeley. My primary interests lie in stochastic processes, quantitative trading, and computer science. Download my resume <a target = "_blank" class="homepage-link" href="experience/index.html">here</a>. 
          </p>

          <p class="about-text">
              Last summer, I worked as a software engineering intern on an internal web application for the Alternative Investments Team at Fidelity Investments and earlier that spring, I built a forecasting algorithm for PenPath LLC. This summer, I will be working as a quantitative researcher and trader at Royal Bank of Canada. Read more about my industry experience <a class="homepage-link"  href="experience/index.html">here</a>.
          </p>

          <p class="about-text"> 
              Currently, I am working on a personal project called <a class="homepage-link"  href="experience/index.html">Epidemia</a> that uses stochastic models and dynamical systems to model epidemic growth. Apart from career and research interests, I enjoy teaching, being a uGSI for Discrete Mathematics and Probability and a Content Mentor for Computer Science Mentors.
          </p>

        </div>

        <div class="history-tl-container">
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">Royal Bank of Canada</div>
            <div class="item-detail">Quant Trading and Resesarch Intern - Summer 2020</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">PenPath LLC</div>
            <div class="item-detail">Data Engineer - Spring 2019</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">Fidelity Investments</div>
            <div class="item-detail">Software Engineering Intern - Summer 2019</div>
          </li>

          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="item-title">MIT Francis Bitter Laboratory</div>
            <div class="item-detail">Research Intern - Summer 2017</div>
          </li>
         </ul>
        </div>
      </section>
  </div>
    <script src="assets/js/script.js"></script>

  </body>
</html>
